@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}



body{
    display: flex;
    flex-direction: column;
}

.header, footer {
    background-color: #1f2937;
}

.logo p {
    font-size: 24px;
    color: #F9FAF8;
}

.links a, .infoLanding p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.infoLanding h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.inspiringQuote {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    padding-top: 20px;
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.links ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.bottom {
    display: flex;
    flex-basis: 300px;
    margin-bottom: 60px;
    justify-content: space-between;
    width: 900px;
}

footer p {
    color: #E5E7EB;
}

.image img {
    width: 500px;
    height: auto;
}

.infoLanding {
    padding-right: 90px;
    max-width: 400px;
}

.infoLanding button {
    padding: 5px 25px;
    border: 0;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(94, 204, 238, 0.733);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 0.6;
    transition: 0.3s;
}

.infoLanding button:hover {
    opacity: 1;
}

.infoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.infoSection .title {
    margin: 40px 0px;
}
.imagesInfo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 40px;
}

.imagesInfo img {
    border: 3px solid blue;
    border-radius: 20px;
    width: 150px;
    height: auto;
}

.imageBox {
    width: 150px;
    margin: 0px 40px 40px 40px;
}

.imageBox figcaption {
    text-align: center;
}

.inspiringQuote {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-style: italic;
}

.inspiringQuote .quote {
    max-width: 900px;
}

.inspiringQuote .author {
    width: 900px;
    text-align: end;
}

 .ad {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .adbox {
    height: fit-content;
    background-color: #3b82f6;
    display: flex;
    border-radius: 5px;
    gap: 200px;
    padding: 20px 150px;
 }

 .adtext {
     color: white;
 }

 .AdButton {
    align-self: center;
 }

 .AdButton button {
    padding: 5px 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    font-weight: 900;
    opacity: 0.6;
    transition: 0.3s;
 }

 .AdButton button:hover {
     opacity: 1;
 }

 footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
 }